* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f8fc;
}

.content {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
    border-radius: 1rem;
  }
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 380px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 576px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: #49d0b0;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 3.5rem;
  align-self: flex-end;
}
